In [2]:
course_1 = '"Python" course'
print(course_1)

"Python" course

In [4]:
course_2 = "Let's Begin"
print(course_2)

Let's Begin

In [6]:
course_3 = '''
Hello All,
Let's Begin "Python" Course
'''
type(course_3)

str

In [9]:
#Character from String
val = "TrailBlazers"
val[11]

's'

In [18]:
val[-1]

's'

In [21]:
len(val)

12

In [10]:
val[-12]

'T'

### So in python String is a list of characters. We will look at list seperately, but they are similar to arrays
### They support positive and negative indexing where positive indexing start from 0 and negative starts from -1

In [43]:
#STRING -> P,Y,T,H,O,N
#INDEX ->  0,1,2,3,4,5
#NEG INDEX-> -6,-5,-4,-3,-2,-1

lang="PYTHON"
print(lang[-6]+lang[-5]+"~"+lang[2]+lang[3]+"~"+lang[4]+lang[-1])

PY~TH~ON

In [44]:
# Lists support Splicing/Ranging - we can give an array like [startPos:EndPos] and it will pick all data from startPos 
# but not including EndPos. Let's look at it.
# [startpos,endpos,step]
lang[0::2]

'PTO'

In [32]:
lang[-6:]

'PYTHON'

lang[:-1]

In [37]:
lang[0:] #Start from 0 and get everything

'PYTHON'

###### Print full string

In [45]:
lang[:] #No need to give an end pos / negative index for getting full string

'PYTHON'

In [50]:
name = "Raj"
print("My name is", name)

My name is Raj

# Fomratted String - old manner

In [70]:
print( "Hello %s"%(12))
print("You owe me Rs. %.2f"%(100.1221))
print("By %d day"%(12))

Hello 12
You owe me Rs. 100.12
By 12 day

# Formatted String - new manner

In [86]:
print( "Hello {}, \
you owe me Rs.{:.4f} by {} of this month \
".format("Ram",100.5678459,23))

Hello Ram, you owe me Rs.100.5678 by 23 of this month

In [88]:
print( "Hello {0}, \
you owe me Rs.{2:.4f} by {1} of this month \
".format("Ram",20+3,100.5678459)) #Expr and Positions

Hello Ram, you owe me Rs.100.5678 by 23 of this month

In [120]:
name = "Ram"
amt = 100.57445
day = 23


stringVal = f"hello {name}, you own {amt:0.2f} by {day}" #fstring
stringVal = f"hello {name1},you own"
print(stringVal)





#stringVal = f"Hello '{name}', \
#you owe me Rs.{amt:0.2f} by {day} of this month"
#print(stringVal)

hello Ram, you own 100.57 by 23

In [124]:
name = "Ram"
amt = 100.235
day = 23
stringVal = f"Hello '{name}', you owe Rs.{amt:0.2f} by {day} of the month"
print(stringVal)

Hello 'Ram', you owe Rs.100.23 by 23 of the month

In [130]:
from string import Template

In [134]:
templated_str = Template('Hello $name1, you owe me Rs.$amt by $day1 of this month')

In [136]:
templated_str.substitute(name1="Raj",amt=round(amt,2),day1=day)

'Hello Raj, you owe me Rs.100.23 by 23 of this month'

#### Historically, string formatting has been a common source of security holes in web-based applications, particularly if the string formatting system allows arbitrary expressions to be embedded in format strings.

#### The best way to use string formatting in a way that does not create potential security holes is to never use format strings that come from an untrusted source.

# STRING METHODS

In [143]:
len("Hello")

5

In [144]:
"hello".capitalize()

'Hello'

In [145]:
"hello".upper()

'HELLO'

In [137]:
"hello".find('h') #Case Sensitive

0

In [150]:
"hello".replace('l','ll')

'hellllo'

In [153]:
"Z" in "hello"

False

In [139]:
a = "hello"
a = "hi"
a

'hi'

In [140]:
a[0] = "H" #Immutable

TypeError: 'str' object does not support item assignment